<%- include('includes/header'); -%>

<header>
  <div class="hero">
    <img src="hero.jpg" alt="" />
  </div>
  <div class="header">
    <p>Cool Cocktail</p>
    <a href="/cocktails" class="btn">View More</a>
  </div>
</header>

<%- include('includes/footer'); -%>
