<%- include('includes/header'); -%>
<form action="/login">
  <h2>Login</h2>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="text" name="email" />
  </div>
  <div class="form-control">
    <label for="email">Password</label>
    <input type="password" name="password" />
  </div>
  <button type="submit" class="btn">Login</button>
</form>

<%- include('includes/footer'); -%>
